<p id="notice"><%= notice %></p>

<h1>Celldbs</h1>

<table>
  <thead>
    <tr>
      <th>Cellnumber</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @celldbs.each do |celldb| %>
      <tr>
        <td><%= celldb.cellnumber %></td>
        <td><%= link_to 'Show', celldb %></td>
        <td><%= link_to 'Edit', edit_celldb_path(celldb) %></td>
        <td><%= link_to 'Destroy', celldb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Celldb', new_celldb_path %>
